body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/background.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #282c34;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding: 1px;
    width: 99.9vw;
}

h1{
    color:white;
    text-decoration: none;
    font-size: 2vw;
}

main {
    margin-top: 30px;
    text-align:center;
    width: 99.9vw;
    height: 80vh;
}


.content {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    text-align: left;
}

th, td {
    border: 2px solid  #282c34;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #282c34;
    color: white;
}

th:nth-child(1), td:nth-child(1) {
    width: 30vw; 
}

th:nth-child(3), td:nth-child(3) {
    width: 30vw; 
}

td input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

td button {
    padding: 8px 16px;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: white;
    color: #282c34;
}

td span {
    font-weight: bold;
    font-size: 38px;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    font-size: 1vw;
    margin-bottom: 0px;
    padding: 1px;
    width: 99.9vw;
}

@media (max-width: 1080px) {
  .content {
    width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
  .content {
    width: calc(50% - 20px);
    }
}
  
@media (max-width: 480px) {
  .content {
    width: calc(100% - 20px);
  }
}